/* color palette 
Original:
green = #579d42
dark orange = #f97300
border blue = #005f86

Austin Pic:
night sky = #012863
accent blue = #3269e0
accent orange = #eb9632
blue-gray = #5c6688
dark-green = #32704e
*/


body {
    background-color: rgb(240, 240, 240);
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Mukta Vaani', sans-serif;

}

/* NAVBAR
----------------------------------------------*/

.navbar {
    background: #012863;
}

/* using !important to override Bootstrap */
.nav-link,
.navbar-brand {
    color: #f4f4f4 !important;
    cursor: pointer;
    border-radius: 3px;
}

.nav-link {
    margin-right: 1em !important;
}

.navbar-brand:hover {
    color: #3269e0 !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #3269e0 !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    /* This line originally had !important. Changed from #fff. Had to add navbar bg color for toggle-icon to show up. */
    background: #012863;
}


/* HEADER
----------------------------------------------*/

.header {
    background-image: url("../images/headerback1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    /* background-color: rgba(245, 245, 245, 0.7); */
    background-color: #c4a36550;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
}


/* HEADER
----------------------------------------------*/

.description {
    position: absolute;
    top: 35%;
    right: 16%;
    /* margin: auto; */
    padding: 2em;
}

.description h1 {
    color: #eb9632;
    font-weight: 600;
    text-shadow: 1px 1px #000;
}

.description p {
    color: #3269e0;
    font-size: 20px;
    font-weight: 700;
    width: 50%;
    margin-bottom: 25px;
    text-shadow: 1px 1px #eee;
    white-space: nowrap;
    line-height: 1.5;
}

.description button {
    border: 1px solid #eb9632;
    background: #eb9632;
    color: #fff !important;
}

.description button:hover {
    border: 1px solid #3269e0;
    background: #3269e0;
    color: #fff;
}

.description button:hover a {
    color: #fff;
    text-decoration: none;
}



/* ABOUT
----------------------------------------------*/

.container {
    margin-bottom: 20px;
}

.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.about h1 {
    color: #eb9632;
    margin: 2em;
}

.about img {
    border-radius: 50%
}

.about span {
    display: block;
    color: #5c6688;
    position: relative;
    margin-left: 3.4rem;
    margin-bottom: 2rem;
}

.about .desc {
    padding: 2em;
    border-left: 3px solid #5c6688;
}

.about .desc h2 {
    color: #3269e0;
}

.about .desc p {
    line-height: 2;
    color: #5c6688;
}

/* PORTFOLIO / BLOG
----------------------------------------------*/

.portfolio {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.portfolio h1 {
    color: #eb9632;
    margin: 2em;
}

.portfolio img {
    height: 75%;
    width: 100%;
    box-shadow: 0 0 20px #5c6688;
}

.portfolio img:hover {
    transition: all 0.2s;
    transition-timing-function: ease-in;
    transform: scale(1.1);
}

.portfolio span {
    display: block;
    color: #5c6688;
    position: relative;
    text-align: center;
    margin-top: 2rem;
}

.blog {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.blog h1 {
    color: #eb9632;
    margin: 2em;
}

.blog .card {
    box-shadow: 0 0 20px #ccc;
}

.blog .card:hover {
    transition: all 0.2s;
    transition-timing-function: ease-in;
    transform: scale(1.1);
}

.blog .card img {
    width: 100%;
    height: 12em;
}

.blog .card-title {
    color: #eb9632;
}

.blog .card-body {
    padding: 1em;
    color: #5c6688;
}


/* FOOTER
----------------------------------------------*/

footer {
    background: #012863;
    padding-top: 2em;
    height: 200px;
    color: #fff;
}